<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>CompactSkin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Sharpness</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="WXI">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Background 200" Value="78,78,78" />
                <SvgColor Name="Background 100" Value="60,60,60" />
                <SvgColor Name="Background 0" Value="46,46,46" />
                <SvgColor Name="Background -100" Value="86,86,86" />
                <SvgColor Name="Background -200" Value="96,96,96" />
                <SvgColor Name="Foreground 100" Value="255,255,255" />
                <SvgColor Name="Foreground 50" Value="160,160,160" />
                <SvgColor Name="Foreground 25" Value="Gray" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="96,96,96" />
                <SvgColor Name="Edit Background -50" Value="86,86,86" />
                <SvgColor Name="Edit Background -100" Value="120,120,120" />
                <SvgColor Name="Edit Background -200" Value="132,132,132" />
                <SvgColor Name="Edit Background -300" Value="40,40,40" />
                <SvgColor Name="Edit Foreground 100" Value="White" />
                <SvgColor Name="Edit Foreground 50" Value="176,176,176" />
                <SvgColor Name="Edit Foreground 25" Value="144,144,144" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="32,32,32" />
                <SvgColor Name="Line 50" Value="32,32,32" />
                <SvgColor Name="Line 25" Value="40,40,40" />
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#202020" />
                    <stop offset="10%" stop-color="#282828" />
                    <stop offset="100%" stop-color="#282828" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#202020" />
                    <stop offset="10%" stop-color="#282828" />
                    <stop offset="100%" stop-color="#282828" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="227,108,9" />
                <SvgColor Name="Primary Background 0" Value="255,194,26" />
                <SvgColor Name="Primary Background -100" Value="250,186,10" />
                <SvgColor Name="Primary Background -200" Value="237,176,9" />
                <SvgColor Name="Primary Foreground 100" Value="46,46,46" />
                <SvgColor Name="Primary Foreground 25" Value="173,113,2" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="46,46,46" />
                <SvgColor Name="Secondary Background -100" Value="86,86,86" />
                <SvgColor Name="Secondary Background -200" Value="96,96,96" />
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Secondary Foreground 25" Value="Gray" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="255,107,107" />
                <SvgColor Name="Green" Value="0,204,106" />
                <SvgColor Name="Blue" Value="53,160,242" />
                <SvgColor Name="Yellow" Value="255,185,0" />
                <SvgColor Name="Black" Value="244,244,244" />
                <SvgColor Name="Gray" Value="Gray" />
                <SvgColor Name="White" Value="46,46,46" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>